.heft/
lib/
_api-extractor-temp/
temp/
.idea

*.log

.vscode/settings.json

node_modules/

.DS_Store

common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
bundle.js
bundle/*.js
dist
.build
typings
types
.validate
tsconfig.tsbuildinfo
ingest-attachment-*.zip
tsdoc-metadata.json
pods/front/dist
*.cpuprofile
*.pyc
metrics.txt
dev/tool/report*.csv
tests/db_dump
.build
.format
tools/apm/apm.js
deploy
metrics.txt
services/github/pod-github/src/github.graphql
.build
.format
dev/tool/report.csv
bundle/*
bundle.js.map